/* colors */
body {
	background: #FFFBDA;
	color: #000;
	}
.sample-source, .add-formula {
	color: #743200;
	}
.add-formula {
	border-color: #743200;
	border-color: rgba(116, 50, 0, 0.6);
}
a:link {
	color: #06c;
	border-bottom-color: #ace;
}
a:visited {
	color: #939;
	border-bottom-color: #cac;
}
a:active, a:hover {
	color: #f30;
	border-bottom-color: #fa9;
}
#editor {
	background: #FFD379;
	}
#faq {
	background: #fff;
	}
.header,
#moto {
	background: #742600;
	}
	.header {
		background: rgba(116, 38, 0, 0.8);
		}

.header,
#moto,
a.nav-item {
	color: #fff;
	transition: background 0.2s ease-out;
	}
	a.nav-item:hover {
		background: #7D9FFD;
		}

.nav-link {
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.6);
}
.load-error {
	border-color: #f00;
}
input[type="text"], textarea {
	background: #fff;
	color: #000;
	border-color: #ba9b3f;
}
.script-code {
	overflow: auto;
	}
.screenshot {
	background: #fff;
	box-shadow: 0 5px 25px rgba(130, 100, 80, 0.6);
	image-rendering: pixelated;
	}

body {
	position: relative;
	font: 16px/1.5 Calibri, "Trebuchet MS", sans-serif;
	margin: 0;
	}
code, input, textarea { font-size: 1em; }
code, textarea {font-family: Consolas, monospace;}
input, .add-formula {font-family: Segoe UI, Tahoma, sans-serif;}
input[type="text"], textarea {
	border-width: 1px;
	border-style: solid;
	padding: 2px;
/*
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
*/
	}
a {
	text-decoration: none;
	border-bottom: 1px solid;
	}
.section#samples {
	padding-right: 0;
	}
.section-samples {
	display: flex;
	flex-wrap: wrap;
	}
	.sample-box {
		flex: 0 1 360px;
		position: relative;
		margin: 0 15px 0 0;
		}
.sample-source, .sample-rendered {
	margin: 0 0 1em;
	}
	.sample-source {
		font: 0.875em/1.2 Consolas, monospace;
		white-space: pre;
		white-space: pre-wrap;
		}
	.sample-rendered {
		font-family: Cambria, Georgia, serif;
		}
		.sample-rendered img.latex-svg {
			vertical-align: top;
			}
		#embedding .sample-rendered {
			border: 1px solid #eee;
			padding: 1em;
			background: #fff;
			}
.sample-title {
	margin-bottom: 0.325em;
	}
h1, h2, h3 {
	font: 16px/1.5 Cambria, Georgia, serif;
	margin: 0;
	font-weight: normal;
	}
h1 {
	margin: 12px 0 6px;
	font-size: 225%;
	line-height: 1;
	}
h2 {
	margin: 0.75em 0 0.375em;
	font-size: 175%;
	}
h3 {
	font-size: 125%;
	}
h2+h3 {margin-top: 0;}
.section {
	padding: 1px 1em;
	padding: 1px calc(0.5em + 0.5%);
	}
.header-content {
	padding: 0 1em;
	padding: 0 calc(0.5em + 0.5%);
	}
	.section-content {
		max-width: 720px;
		margin: 0 auto 0 0;
		}
	.header {
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		height: 37px;
		box-shadow: 0 2px 3px rgba(140, 100, 80, 0.4);
		}
		.nav {
			margin: 0 -0.5em;
			height: 37px;
			overflow: hidden;
			}
			a.nav-item {
				display: inline-block;
				vertical-align: middle;
				height: 37px;
				line-height: 37px;
				padding: 0 0.5em;
				text-decoration: none;
				border: 0;
				}
	#moto {
		padding-top: 5px;
		padding-bottom: 37px;
		margin-bottom: -37px;
		position: relative;
		}
		.lang-block {
			position: absolute;
			right: 18px;
			top: 15px;
			}
			a.lang-link {
				color: #fff;
				border: 1px solid #fff;
				padding: 1px 4px 2px;
				text-transform: uppercase;
				opacity: 0.5;
				transition: opacity 0.3s ease-out;
				}
				a.lang-link:hover {
					opacity: 1;
					}
.editor-text, .editor-result {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.editor-text {
	-webkit-transition: border-color 0.2s;
	transition: border-color 0.2s;
	resize: none;
	padding: 3px;
	line-height: 1.25;
	height: 108px; /* style for jumping textarea in FF */
	}
.editor-preview {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	vertical-align: top;
}
.add-formula {
	font-size: 13px;
	line-height: 15px;
	border-width: 0;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	background: transparent;
	padding: 0;
	cursor: pointer;
	}
.nav-link {
	line-height: 1;
	text-decoration: none;
	border-width: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	}
.inside .nav-link {
	border-bottom-style: dashed;
	}
p, pre, .url-line {
	margin: 0 0 1.5em;
	}
.url-line {
	border-collapse: collapse;
	width: 100%;
	}
	.url-cell {
		border: 0;
		padding: 0;
		}


.sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	}

.sticky:before,
.sticky:after {
	content: '';
	display: table;
	}

.likely {
	vertical-align: middle;
	}

.text-content {
	max-width: initial;
}
.info-text {
	column-width: 410px;
	column-gap: 3em;
}
.question,
.sample-source,
.sample-rendered {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}
#faq .question {
	display: inline-block; /* cannot set up normal margin, they do not collapse when colums are enabled */
}
.question {
	position: relative;
}

@media screen and (min-width: 1860px) {
	#embedding, #faq {
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	#faq {
		background: none;
	}

	#copyright {
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 640px) {
	h1 {
		font-size: 175%;
		margin: 6px 30px 0 0;
	}
	.section {
		padding: 1px 0.5em;
	}
	.header-content {
		padding: 0 0.5em;
		-webkit-mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 5px,rgba(0,0,0,1) 10px,rgba(0,0,0,1) calc(100% - 12px),rgba(0,0,0,.25) calc(100% - 6px),rgba(0,0,0,0));
		mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 5px,rgba(0,0,0,1) 10px,rgba(0,0,0,1) calc(100% - 12px),rgba(0,0,0,.25) calc(100% - 6px),rgba(0,0,0,0));
	}

	.script-code {
		padding-right: 7px;
		-webkit-mask-image: linear-gradient(-90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 6px,rgba(0,0,0,1) 12px, rgba(0,0,0,1) 100%);
		mask-image: linear-gradient(-90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 6px,rgba(0,0,0,1) 12px, rgba(0,0,0,1) 100%);
	}

	.preview-block {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}

	/* scrollable menu */
	.nav {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		padding-bottom: 20px;
	}
	.header {
		overflow: hidden;
	}
}
